.DS_Store
Thumbs.db
.Rhistory
.RData
.Rproj.user/
*.Rproj.user
__pycache__/
*.py[cod]
*.log
*.tmp
*.temp
*.bak
~$*.docx
.vscode/
.idea/
*.doc
*.xls
*.Rdata
*.tiff
*.png
*.pdf
*.docx
*.csv
*.gpkg
*.rda
*.txt
